importFrom(lmSupport,varRename,figNewDevice, figPlotRegion, figText, figPoints, figLines, figAxis, figLegend)
importFrom(utils, View, browseURL, txtProgressBar, read.csv)
importFrom(grDevices, dev.off)
importFrom(lubridate,days)
importFrom(stringr,str_c,str_detect)
importFrom(httr, VERB, GET, add_headers, content)
export(
  apiGetSurvey,
  edbGetActiveParticipants,
  edbGetCalls,
  edbGetCleanDB,
  edbGetNextSubID,
  edbGetRawDB,
  edbGetSubjectRecords,
  edbGetVisits,
  edbQualtricsInput,
  edbSummaryArm,
  edbSummaryStatus,
  rdbFormat,
  rdbGetCallList,
  rdbGetCleanDB,
  rdbGetEntries,
  rdbGetID,
  rdbGetRawDB,
  rdbGetSummary,
  rdbQualtricsInput
)